* {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image:  url(./img/cafe-bg.png );
    background-repeat: no-repeat;
    background-size:cover;
   
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    margin-top:30px;
    border: 1px solid white;
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    padding: 13px;
    color: #5f554b;
}
.border{
    display: flex;
  justify-content: center;
}
.left{
    margin-top: 50px;
  background-color:#544639;
  width: 30%;
border-radius:20px ;
}
.content{
  margin-right: 70px;
    
}
.content2{
    margin-left:70px;
    
    flex-direction: column;
}
.div1{
    display:flex;
    
    margin:10px 0 20px 10px;
   
}
.div2{
    display:flex;
    flex-direction: row-reverse;
    margin:10px 10px 20px 0;
    
}
.contant_item{
    margin-left: 20px;
    color: #fff;
    
}
.contant_item1{
    margin-right: 20px;
    color: #fff;
     
}
h4{
    color:#fc6;
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
}

.right{
    margin-top: 50px;
    background-color:#544639;
    width: 30%;
  border-radius:20px ;
  flex-direction: row-reverse;
}
img{
    border-radius: 5px;
}